
.rdc_control {
	display: flex;
	align-items: center;

	height: 38px;
	padding: 0 15px;

	border: 1px solid var(--rdc-font-color-disable, #D1D5DF) !important;
	border-radius: 6px;

	background: linear-gradient(0deg, #F9FBFF, #F9FBFF),
		linear-gradient(0deg, var(--rdc-font-color-disable, #D1D5DF), var(--rdc-font-color-disable, #D1D5DF));

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.022em;
	text-align: left;

	&.disabled {
		background: var(--rdc-font-color-disable, #D1D5DF);
	}

	& > .menu-icon {
		font-size: 17px;
		color: var(--rdc-main-color, #2196F3);
	}

	& > input {
		width: 100%;
		padding: 0 10px;
		color: var(--rdc-font-color, #173261);
	}

	& > input::-webkit-input-placeholder {
		color: var(--rdc-font-color-disable, #D1D5DF);
	}

	& > button {
		height: 16px;
		fill: var(--rdc-main-color, #2196F3);
	}

	& > button:hover {
		fill: var(--rdc-error-color, #FF3140);
	}

	& > button:active {
		fill: var(--rdc-error-color-active, #CC2733);
	}

}

.rdc_hidden {
    visibility: hidden;
}