
$main_color: var(--main-color, #2196F3);
$disabled: var(--menu-font-color-disable, #D1D5DF);
$hovered: var(--main-bg-c-hover, #828F9C1A);
$shadow-c: var(--main-shadow-color, #2196F34D);
$shadow-c2: var(--main-shadow-color-v2, #2196F326);
$text-c-hovered: var(--main-text-color-hover, #2167BA );

$yellow-c: var(--main-color-yellow, #FFA900);
$yellow-c-active:  var(--main-color-yellow, #F19100);
$yellow-c-sh:  var(---main-shadow-yellow, #B963004D);
$yellow-c-sh2:  var(--main-shadow-yellow2, #B9630026);

$green-c: var(---rdc-green-color, #2D9E4D);
$green-c-active:  var(--rdc-green-a-color, #1D7235);

button.rdc_icon-btn {
    height: 32px;
    padding: 0px 8px 0px 8px;

    display: flex;
    align-items: center;
    gap: 4px;

    background-color: transparent;
    color: $main_color;
    fill: $main_color;

    font-family: Lato;
    font-weight: 400;
    font-size: 16px;

    border: none !important;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.022em;
    text-align: center;


    & > span {
        margin-right: 5px;
    }

}

button.rdc_icon-btn.block {
    width: 100%;
    justify-content: center;
}

button.rdc_icon-btn.centered {
    margin-left: auto;
    margin-right: auto;
}

button.rdc_icon-btn.bordered {
    border: 2px solid !important;
}

button.rdc_icon-btn:hover {
    background-color: $hovered;
    color: $main_color;
    fill: $main_color;
}

button.rdc_icon-btn:active {
    background-color: $main_color !important;
    color: white;
    fill: white;
}

button.rdc_icon-btn.rdc_outline.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: $disabled;
    fill: $disabled;
    pointer-events: none;
    background-color: transparent;
    opacity: 1;
}

button.rdc_icon-btn.rdc_outline.blue {
    background-color: transparent;
    color: $main_color;
    fill: $main_color;
}
button.rdc_icon-btn.rdc_outline.blue:hover {
    background-color: $hovered;
    color: $main_color;
    fill: $main_color;
}
button.rdc_icon-btn.rdc_outline.blue:active {
    background-color: $main_color !important;
    color: white;
    fill: white;
}
button.rdc_icon-btn.rdc_outline.blue.disabled {
    color: $disabled;
    fill: $disabled;
}

button.rdc_icon-btn:not(.rdc_outline).blue {
    background-color: $main_color;
    color: white;
    fill: white;
}
button.rdc_icon-btn:not(.rdc_outline).blue:hover {
    box-shadow: 2px 2px 3px 0px $shadow-c, 6px 6px 10px 0px $shadow-c2;
}
button.rdc_icon-btn:not(.rdc_outline).blue:active {
    background: $text-c-hovered !important;
    color: white;
    fill: white;
}

button.rdc_icon-btn:not(.rdc_outline).disabled {
    background: $disabled !important;
}

button.rdc_icon-btn:not(.rdc_outline).yellow {
    background-color: $yellow-c;
    color: white;
    fill: white;
}
button.rdc_icon-btn.rdc_outline.yellow {
    background-color: transparent;
    color: $yellow-c;
    fill: $yellow-c;
}
button.rdc_icon-btn.yellow:hover {
    box-shadow: 2px 2px 3px 0px $yellow-c-sh, 6px 6px 10px 0px $yellow-c-sh2;
}
button.rdc_icon-btn.yellow:active {
    background: $yellow-c-active !important;
    color: white;
    fill: white;
}

button.rdc_icon-btn:not(.rdc_outline).green {
    background-color: $green-c;
    color: white;
    fill: white;
}
button.rdc_icon-btn:not(.rdc_outline).green:hover {
    box-shadow: 2px 2px 3px 0px #248E424D, 6px 6px 16px 0px #248E4226;
}
button.rdc_icon-btn:not(.rdc_outline).green:active {
    background: $green-c-active !important;
    color: white;
    fill: white;
}


.rdc_small_spiner {
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 5px 3px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: conic-gradient(from 90deg at 50% 50%, var(--rdc-main-color, #2196F3) 0deg, rgba(33, 150, 243, 0) 360deg);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
    animation: s3 1s infinite linear;
}
button.rdc_icon-btn.blue > .rdc_small_spiner {
    background: conic-gradient(from 90deg at 50% 50%, white 0deg, rgba(33, 150, 243, 0) 360deg);
}
@keyframes s3{ 
	100%{transform: rotate(1turn)}
}
